.custom-navbar {
    background-color: royalblue;
    color: white;
}

.navbar-brand .nav-link {
    color: white;
}

.navbar-brand:hover {
    color: lightgray;
}

.nav-link:active {
    color: lightgreen;
}

.nav-link:visited {
    color: lightcoral;
}

.custom-btn {
    background-color: blue;
    color: white;
    border: none;
}

.custom-btn:hover {
    background-color: red;
}